# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env files (secrets)
.env
.env.local
.env.development
.env.production

# Terraform (contient le mot de passe RDS en clair)
*.tfstate
*.tfstate.backup
.terraform/
tfplan
.terraform.lock.hcl

# IDE
.vscode/